#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.footer-link {
  color: #bdbdbd;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-link:hover {
  color: #f3ce13;
  transform: translateX(3px);
}

.footer-logo img {
  transition: transform 0.3s ease;
}

.footer-logo:hover img {
  transform: scale(1.07);
}

.footer-links ul li {
  margin-bottom: 12px;
  padding: 5px 0;
}

.footer-links ul li a {
  font-size: 0.95rem;
}

.footer-links ul li svg {
  font-size: 1rem;
}
